* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.repository {
   background-image: url('/public/images/img-2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.about {
   background-image: url('/public/images/img-5.jpg'); 
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.repos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.repo {
  border: 1px solid #ccc;

  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
  overflow: hidden;
}
.repo-header {
  display: flex;
  align-items: center;
  background-color: #edc216;
  height: 100%;

  padding: 10px 20px;
}
.repo-body {
  padding: 10px;
}
.repo-body p{
  font-size: 16px;
  letter-spacing: 1px;
  color: black;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.repo-body h3{
text-transform: capitalize;
font-size: 20px;
}
.main-title {
  text-align: center;

  font-size: 30px;
  letter-spacing: 2px;
  margin: 20px 0;
}
.pagination{
  display: flex;
  justify-content: space-around;
border: 1px solid #ccc;
padding: 10px;

  margin-top: 40px ;
}

.heading-rep{
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 20px 0;
  font-weight: bold;
}
.infoo{
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 20px 0;
  font-weight: bold;
}
.links{
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 20px 0;
  font-weight: bold;
}


